body{
    background-image: url("../images/foto.jpg");
}

.tarjeta{
    width: 400px;
    height: auto;
    background-color: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(233, 1, 1, 0.85);
    text-align: center;
}

.foto{
    width: 220px;
    height: 220px;
    border-radius: 50px;
    border: 3px solid #555;
}

h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.personal-info{
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(1, 46, 181, 0.708);
    padding: 2px;
}

.info{
    font-size: 20px;
    font-family: 14px;
    margin: 5px 0;
    text-align: left;
    padding: 2px;   
}